!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  body!= body
  script(src='/javascripts/jquery.min.js', type='text/javascript', charset='utf-8')
  script(src='/javascripts/main.js', type='text/javascript', charset='utf-8')
  script(src='/javascripts/tray.js', type='text/javascript', charset='utf-8')
  script(src='/javascripts/viewer.js', type='text/javascript', charset='utf-8')