!!!
html
  head
    link(rel='stylesheet', href='/asis/stylesheets/style.css')
    link(rel='stylesheet', href='/asis/stylesheets/font-awesome.css')
  body!= body
  script(src='/asis/javascripts/jquery.min.js', type='text/javascript', charset='utf-8')
  script(src='/asis/javascripts/main.js', type='text/javascript', charset='utf-8')
  script(src='/asis/javascripts/tray.js', type='text/javascript', charset='utf-8')
  script(src='/asis/javascripts/viewer.js', type='text/javascript', charset='utf-8')